{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</Title>
    <link rel="stylesheet" href="{% static "website/style.css" %}">
</head>

<body>
    <div class="login">
        {% if user.is_authenticated %}
            <div class="name"> 
                <img scr="{% static "website/profile.jpg" %}" id="profile">
                Logged in as: {{user.get_username}}
            </div>
            <form method="post" action="{%url 'logout'%}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {%else %}
            <a href="{% url 'login'%}" class="login">Login</a>
    {%endif%}
    </div>

    <div class="body">
    {% block content %}
    {% endblock%}
    </div>
</body>
</html>